[alias]
    lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
    br = branch
    ci = commit
    co = checkout
    st = status
[core]
    editor = vim
    whitespace = space-before-tab, trailing-space
[color]
    ui = auto
